@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/preflight.css" layer(base);
@import "tailwindcss/utilities.css";

@import "nativewind/theme";

@theme {
  --color-primary: #2D5BFF;
  --color-success: #27AE60;
  --color-warning: #F2994A;
  --color-error: #EB5757;

  --font-inter: Inter_400Regular;
  --font-inter-medium: Inter_500Medium;
  --font-inter-semibold: Inter_600SemiBold;
  --font-inter-bold: Inter_700Bold;
}
